# Vercel
.vercel

# Node
node_modules/
package-lock.json
npm-debug.log
yarn.lock
yarn-error.log

# Build directory
/dist
/dist-ssr
/.cache

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Env files
.env
.env.local
.env.development
.env.production